// Navigation code here


.header-container {
    background: #F4F4F4;
    margin: 0 0 0 4%;
    // border: 1px solid red;

                //PHONE VAR
    @media @phone {
        width: 91%;    
    }
    h1 {
        display: flex;
        justify-content: space-around;
        align-content: center;
        font-size: 3.2rem;
        margin: 15px 0 2% 0;
    }
    nav {
        display: flex;
        justify-content: space-around;
        align-content: center;
        margin: 0% 39%;
        font-size: 1.6rem;

                    //PHONE VAR
        @media @phone {
            width: 92%;
            margin: 1% 0 0 0;
        }
    }
    nav a{
        text-decoration: none;
        margin-bottom: 10px;
        
                //PHONE VAR  
        @media @phone {
            margin: 0 0 3% 0;
        }
    }

}//END header container